/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #849d8f;
}
.site-wrapper {
  min-width: 1250px;
  background-color: #849d8f;
  background-image: url("../img/Slider-icecream_1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*=======GLOBAL STYLES==========*/
.button {
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;

 border: none;
 border-radius: 20px;
 background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
 background-image: linear-gradient(to top, #e74a35, #f26843);
 -webkit-box-shadow: 0px 2px 2px 0 #ac1000;
         box-shadow: 0px 2px 2px 0 #ac1000;

 text-align: center;
 vertical-align: middle;

 cursor: pointer;
}
a {
  text-underline-position: under;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  margin: 0;
}
h3 {
  font-size:35px;
  margin: 0;
}

input::-webkit-input-placeholder {
font-weight: 400;
}
textarea::-webkit-input-placeholder {
font-weight: 400;
}
input::-moz-placeholder {
font-weight: 400;
}
textarea::-moz-placeholder {
font-weight: 400;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus {
  border: solid 2px rgba(154, 154, 154, 0.52);
}
 /*---to backup custom images---*/
img {
  max-width: 100%;
  height: auto;
}
/* --------- NAVIGATION -------------*/
.nav-container {
  position: relative; /*--to absolutely position Contacts--*/
  width: 1160px;
  padding: 10px 20px 0 20px;
}
.nav-menu {
  width: 100%;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo {
  width: 181px;
  height: auto;
}
.logo-inner {
  width: 177px;
  height: auto;
}
.site-menu,
.submenu,
.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-menu {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 21px;
  margin-left: 10px;
}


.user-menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  padding-top: 13px;
  padding-right: 15px;
}

.user-menu li {
  padding-left: 9px;
}
.site-menu > li {
  position: relative;
}
.submenu {
  /* display: none; */
  position: absolute;
  top: 35px;
  width: 143px;
  z-index: 3;

  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}
.site-menu a,
.submenu a {
  line-height: 18px;
  color: #ffffff;
}
.site-menu a {
 padding: 5px 15px 7px 12px;
}
.submenu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
}

.submenu li:first-child {
  font-weight: bold;
}
.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}
.submenu a:active {
  background-color: #f6b5a5;
}
.submenu li:first-child a:hover,
.submenu li:first-child a:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.submenu li:last-child a:hover,
.submenu li:last-child a:focus {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.site-menu > li:hover .submenu,
.site-menu > li:focus .submenu {
  display: block;
  position: absolute;
  z-index: 3;
}
.site-menu > li > a:hover,
.site-menu > li > a:focus,
.site-menu > li > a:active {
  border-radius: 20px;
  width: 143px;
  padding: 5px 15px 7px 12px;
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  text-align: center;
}
.site-menu > li > a:active  {
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
.active > a {
  padding: 5px 15px 7px 12px;
  border-radius: 20px;
  background-color: #d07058;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

/*----SEARCH-------*/
.user-menu-search {
  position: relative;
  margin-bottom: 7px;
}
.search-button {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: none;
  background:rgba(255,255,255, 0.3);
}
.search-button:hover,
.search-button:focus {
  background-color: #f8f7f4;
}
.search-button:hover path,
.search-button:focus path  {
  fill: #323232;
}
/*----------MODAL search field -------------------*/
.modal-search {
  position: absolute;
  top: 36px;
  right: -30px;
  width: 341px;
  background-color: #f8f7f3;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 19px 14px 21px 14px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  z-index: 3;
  /* display: none;*/
}

.modal-search-field {
  width: 311px;
  color: #999999;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 10px;
  padding: 9px;
}
.modal-search-field placeholder {
  font-weight: 400;
}
.modal-search input[type="search"]:hover,
.modal-search input[type="search"]:focus {
  padding: 8px; /*-- чтоб не прыгали --*/
}

.user-menu-search:hover .modal-search,
.user-menu-search:focus .modal-search,
.user-menu-search:active .modal-search {
  display: block;
  position: absolute;
  z-index: 3;
}


/*------------------LOGIN user menu------------------*/
.user-menu-login {
  position: relative;
  margin-bottom: 12px;
}
.login-button {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width: 93px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: rgba(255,255,255, 0.3);
  padding: 9px 17px 14px 39px;
  text-align: left;

  cursor: pointer;
}
.login-text {
  position: relative;
}
.login-text::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 20px;
  background-image: url("../img/login_icon.png");
  background-repeat: no-repeat;
  left: -25px;
  top: -2px;
}
.login-button:hover,
.login-button:focus {
  background-color: #f8f7f4;
}
.login-button:hover .login-text,
.login-button:focus .login-text {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*problem with :hover: the black text doesn't syncronize with the white background of the button, if cursor is not exactly on the text, the whole button is white. Solved by combining them .login-button:hover .login-text*/
.modal-login {
  position: absolute;
  top: 35px;
  right: -1px;
  width: 241px;
  background-color: #f8f7f3;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 17px 22px 19px;
  border-radius: 10px;
 /*display: none;*/
 z-index: 3
}
.modal-login::before {
  content: "";
  width: 241px;
  height: 10px;
  color: red;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.modal-login input {
  width: 220px;
    color: #999999;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 17px;
}
.modal-login input:hover,
.modal-login input:focus {
  border: solid 2px rgba(178, 178, 178, 0.52);
  padding: 9px;
}
.modal-login a {
  display: block;
  font-size: 13px;
  color: #323232;
  margin-left: 120px;
  padding-top: 6px;
  cursor: pointer;
}
.modal-login a:hover {
  color: #ffbc9e;
}
.login-submit-button {
  position: absolute;
  left: 20px;
  top: 149px;
  padding: 11px 25px 10px 25px;
  cursor: pointer;
}

.user-menu-login:hover .modal-login,
.user-menu-login:focus .modal-login,
.user-menu-login:active .modal-login {
  display: block;
  position: absolute;
  z-index: 3;
}


/*--------------------CART user menu---------*/
.user-menu-cart {
  position: relative;
}
.cart {
  display: block;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  background:rgba(255,255,255, 0.3);
  padding: 10px 17px 10px 45px;
}

.cart-text,
.cart-text_empty {
  position: relative;
}
.cart-text_empty::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  left: -21px;
  background-image: url("../img/basket.svg");
  background-size: 17px 17px;
}
.cart-text::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  left: -21px;
  background-image: url("../img/basket-red.svg");
  background-size: 17px 17px;
}

.contact {
  position: absolute;
  z-index: 1;
  left: 1026px;
  top: 64px;
  min-width: 200px;
}
.contact-telephone {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  text-decoration: none;
}
.contact-telephone:hover,
.contact-telephone:focus {
  color: #ffbc9e;
}
.contact-telephone:active {
  color: #e84d37;
}
.contact-inner-page {
  position: absolute;
  left: 1003px;
  top: 70px;
  min-width: 200px;
  z-index: 0;
}
.contact-inner-page span {
  font-size: 14px;
  margin-left: 17px;
}
.modal-cart {
  position: absolute;
  top: 41px;
  right: 1px;
  z-index: 5;
  width: 539px;
  background-color: #f8f7f3;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px 12px 20px 12px;
  /*display: none;*/
}
.modal-cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px; /*measuring from the line*/
}
.modal-cart-table td {
  /*border: solid 1px red; /*temporary!!!!!*/
  padding: 10px 0;
}
.close {
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.modal-cart-table td:nth-child(2) {
  width: 50px;
}
.modal-cart-table td:nth-child(3) {
  width: 224px;
}
.modal-cart-table td:nth-child(4) {
  text-align: right;
  width: 120px;
}
.modal-cart-table td:last-child {
  width: 77px;
  text-align: right;
}

.cart_item,
.cart_item_amount,
.cart_item_total {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}
.cart_item_price {
  opacity: 0.3;
}
.cart_total-text,
.cart_total {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}
.submit-cart-button {
  padding: 11px 13px 11px 14px;
  margin-left: 355px;
}
.cart-full:hover + .modal-cart,
.cart-full:focus + .modal-cart {
 display: block;
}


/*-----------SLIDER --------------------*/
.slider {
  position: relative;
  min-height: 210px;
  margin-bottom: 41px;
  padding-top: 295px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left: 224px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {

    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-color: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 44px;
    border: none;
    cursor: pointer;
    width: 278px;
    display: inline-block;
    text-align: center;
    margin-left: -14px;
    padding-top: 8px;
    min-height: 56px;
}
.slide-button:hover,
.slide-button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 44px;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/Slider-icecream_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/Slider-icecream_2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/Slider-icecream_3.png")
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*-----------BONUS section--------------*/
.bonus-list {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


.bonus-list h3 {
  margin: 0;
  margin-bottom: 20px;
}
.bonus-text {
  font-size: 18px;
  margin-bottom: 45px;
}
.bonus-raspberry {
  width: 567px;
  background-image: url("../img/raspberry.jpg");
  background-position-x: -51px;
    background-position-y: -95px;
}
.bonus-chockolate {
  background-image: url("../img/chockolate.jpg");
}
.bonus-raspberry,
.bonus-chockolate {
  width: 511px;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 14px 29px 24px 19px;
    margin-right: 31px;
}
.bonus-list li:nth-child(2n) {
  margin-right: 0;
}

.bonus-button {
  padding: 11px 20px 11px 20px;
  float: right;
}
.bonus-button:hover,
.bonus-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#f58569));
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.bonus-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow:  inset 0px 2px 2px 0 #942718;
          box-shadow:  inset 0px 2px 2px 0 #942718;;
}
/*--------------BREADCRUMBS---------------*/
/*-- Problem to align items: links and no-links behave differently in flex container. Solved by display:inline-block for li(!!!!!) of the ul. Vertical align: bottom.  ---*/
.breadcrumbs {
  list-style: none;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  /*display: flex;*/
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 3px;
}
.breadcrumbs a,
.breadcrumbs li:last-child {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}
.breadcrumbs a:active {
  color: #e84d37;
}
/*-----------GOODS section--------------*/
.catalog-heading {
  margin-bottom: 33px;
}
.catalog-container,
.filters-container,
.heading-container {
  width: 1160px;
  /*padding: 0 20px;*/
  padding-left: 17px;
}
.bestsellers-list,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bestseller-item,
.catalog-item {
  width: 280px;
  min-height: 280px;
}
.catalog-item {
  margin-bottom: 83px;
  position: relative;
}

.bestseller-text,
.catalog-text {
  color: #ffffff;
}
.item-name a:hover,
.item-name a:focus,
.item-name a:active {
  color: #ffbc9e;
}

.item-price-number,
.catalog-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.bestsellers-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bestsellers-list {
  margin-bottom: 83px;
}
.catalog-list {
  margin-bottom: 42px;
}
.item-card-wrap1 {
  position: relative;
  z-index: 3;
}
.item-card-wrap2 {
  position: absolute;
  z-index: 4;
  width: 270px;
}

/*---бейдж Хит на главной странице-----*/
.bestseller-item .item-image::before {
  content: "";
  height: 67px;
  width: 67px;
  position: absolute;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.item-image {
  position: absolute;
  z-index: 4; /*image shouldnt be covered by the item-background*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.item-image-mask {
  height: 267px;
  width: 267px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.item-price-slash {
  font-size: 30px;
}
.item-price-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.item-text {
  display: block;
  line-height: 22px;
  max-width: 254px;
  text-align: center;
  color: #ffffff;
  margin-top: 277px;
  padding-left: 12px;
}

.item-price {
  position: absolute;
  top: 205px;
  z-index: 5;
}
.item-card-button {
  padding: 8px 13px 13px 17px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 46px;
  margin-top: 338px;
  cursor: pointer;

  display: none;
}
.bestseller-item:hover .item-card-button,
.bestseller-item:focus .item-card-button,
.catalog-item:hover .item-card-button,
.catalog-item:focus .item-card-button {
  display: block;
}

.item-background {
  position: absolute;
  width: 292px;
  height: 406px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    /* background-color: #9bafa3; */
  border-radius: 4px;
  background: rgba(255,255,255, 0.3);
  top: -5px;
  left: -10px;
  display: none;
}
.catalog-item:hover .item-background,
.catalog-item:focus .item-background {
  display: block;
  z-index: 2;
}
.bestseller-item:hover .item-background,
.bestseller-item:focus .item-background {
  display: block;
  z-index: 2;
}
.catalog-item:hover,
.catalog-item:focus {
  position: relative;
  z-index: 5;
}
.item-card-button:hover,
.item-card-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#f58569));
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.item-card-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow:  inset 0px 2px 2px 0 #942718;
          box-shadow:  inset 0px 2px 2px 0 #942718;;
}
/*---------------FEATURES-----------------*/
.features-container {
  width: 1114px; /* 1160px of the container width minus paddings */
  background-image: url("../img/waffer-background.jpg");
  border-radius: 15px;
  padding: 24px 30px 0px 22px;
  margin-bottom: 40px;
}

.about-glaccy {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 21px;
}

.features-container,
.features-text {
  color: #323232;
}
.features-text {
  line-height: 1.4;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  display: block;
  width: 556px;
}

.features-text_icecream,
.features-text_eco,
.features-text_cow,
.features-text_thermo {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 57px;
  margin-bottom: 23px;
  padding-right: 7px;
}
.features-text_icecream::before,
.features-text_eco::before,
.features-text_cow::before,
.features-text_thermo::before {
  content: "";
  position: absolute;
  left: -56px;
  top: -11px;
  width: 49px;
  height: 49px;
}
.features-text_icecream::before {
  background-image: url("../img/ice-cream.svg");
}
.features-text_eco::before  {
  background-image: url("../img/eco.svg");
}
.features-text_cow::before {
  background-image: url("../img/cow.svg");
}
.features-text_thermo::before {
  background-image: url("../img/thermometer.svg");
}
/*---------------NEWS-----------------*/
.news {
  border-radius: 20px;
  background-image: url("../img/Strawberry_background.jpg");
  background-position-y: 39%;
  background-position-x: 16%;
}
.news-title {
  font-size: 16px;
  line-height: 22px;
}
.news-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.news-title,
.news-item {
  color: #323232;
}

/*---------------Subscribe-----------------*/
.marketing-container {
  /*width: 1152px;*/
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news {
/* NOOOOOO height for blocks with text*/
  width: 520px;
}
/*NB!!! add paddinds to width for the actual sizes*/
.news {
  padding: 23px 20px 10px 20px;
}
.news-title {
  margin: 0;
  margin-bottom: 3px;
}
.news-item {
  display: block;
  width: 290px;
  margin-bottom: 70px;
}

.subscribe-wrapper {
  min-height: 220px;
  width: 572px;

  position: relative;
  background-image: url("../img/subscribe-background.png");
  background-repeat: no-repeat;
}
.subscribe {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 507px;
  background-color: #f8f7f4;
  border-radius: 13px;
  padding: 29px 25px 36px 18px;
}
.subscribe-text {
  color: #5a5a5a;
}
.subscribe-email-input {
  margin-right: 1px;
}
.submit-subscribe-button {
  font-size: 18px;
  line-height: 24px;
  padding: 7px 18px 12px 19px;
}

.submit-subscribe-button:hover,
.submit-subscribe-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#f58569));
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.submit-subscribe-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow:  inset 0px 2px 2px 0 #942718;
          box-shadow:  inset 0px 2px 2px 0 #942718;;
}
.subscribe-text {
  margin: 0;
  margin-bottom: 35px;
  line-height: 22px;
}
.subscribe-email {
}
.subscribe-email-input {
  width: 350px;
  height: 39px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  padding-left: 14px;
}
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*-----------------Footer-----------------*/

.footer-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1101px;
  border-top: solid 1px #a9bbb1;
 /* padding-top differs for the sections in the Footer, here is the minimum fitting the COPYRIGHT section only---*/
  padding: 17px 0px 16px 0px;
}
.footer-container-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  padding: 2px 1px 7px 1px;
}

/*----------SOCIAL in Footer -------------*/

.footer-container-inner .social {
  width: 339px;
  padding-top: 18px;
  margin-left: 19px;
}
.footer-container-index .social {
  width: 346px;
  padding-top: 18px;
  margin-left: 4px;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}
.social-item {
  padding-right: 11px;
}

.social-list,
.documents-column {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icon {
  opacity: 0.8;
  border: solid 3px #c2cec7;
  border-radius: 50%;
}
.social-icon:hover,
.social-icon:focus {
  opacity: 1;
  border: solid 3px #c8d4cd;
}
.social-icon:active {
  opacity: 0.6;
  border: solid 3px #dae2de;
}
/*-------------DOCUMENTS in Footer -----------*/
.footer-documents {
  width: 464px;
  padding-top: 16px;
  padding-left: 80px;
}
.documents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.documents-list li {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 4px;
}
.documents-list a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  display: block;
}
.documents-list a:hover,
.documents-list a:focus {
color: #ffbc9e;
}
.documents-list a:active {
color: #e84d37;
}
.documents-suppliers {
  position: relative;
  font-weight: bold;
  padding-right: 30px;
}
.documents-production {
  padding-right: 41px;
}
.documents-main,
.documents-eco {
  padding-right: 20px;
}
.documents-suppliers::before {
  content: "";
  position: absolute;
  left: -21px;
  top: 4px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
}

/*===== COPYRIGHT in Footer---------*/
.copyright {
  width: 198px;
}
.copyright a {
  padding-left: 73px;
}
.copyright-text {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.copyright-name {
  text-decoration: underline;
  text-underline-position: below;
}
.copyright-text:hover,
.copyright-text:focus {
  color: #ffbc9e;
}
.copyright-text:active {
color: #e84d37;
}



/*---------MODAL Elements--------------*/
.map {
  background-image: url("../img/map.jpg");
  background-size: cover; /*is it ok??---*/
  background-position-x: 7px;
  background-position-y: -124px;
  margin-bottom: 15px;
}
.map-container{
  position: relative;
  height: 430px;
  width: 1200px;
}
.modal-address {
  position: absolute;
  top: 63px;
    right: 7px;
  background-color: #fefdfc;
  color: #323232;
  width: 252px;
  border-radius: 10px;
  padding: 30px 25px 33px 25px;
}

.modal-text {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  max-width: 158px;
}
.modal-address-location {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 17px;
}
.modal-telephone-order {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.modal-telephone {
  font-size: 18px;
line-height: 22px;
  margin-bottom: 3px;
}
.modal-address-open {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 26px;
}
.modal-address-button {
  padding: 6px 28px 11px 28px;
  color: #fefefe;
}
.modal-address-button:hover,
.modal-address-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#f58569));
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.modal-address-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow:  inset 0px 2px 2px 0 #942718;
          box-shadow:  inset 0px 2px 2px 0 #942718;;
}
.modal-address::before {
  content: "";
  position: absolute;
  top: 76px;
  right: 828px;
  width: 80px;
  height: 140px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
}
/*------------MODAL feedback ----------------*/
.modal-feedback {
  position: relative;
  width: 479px;
  background-color: #f8f7f3;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 18px 25px 23px 23px;
}
.modal-feedback h2 {
  display: block;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-feedback-name,
.modal-feedback-email,
.modal-feedback textarea {
  width: 266px;
  color: #999999;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}


.modal-feedback textarea {
  width: 428px;
  margin-bottom: 23px;
}
.modal-feedback-name:hover,
.modal-feedback-email:hover,
.modal-feedback-name:focus,
.modal-feedback-email:focus {
  border: solid 2px rgba(154, 154, 154, 0.52);
  padding: 14px;
}

.modal-feedback textarea:hover,
.modal-feedback textarea:focus {
  border: solid 2px rgba(154, 154, 154, 0.52);
  padding: 14px;
}
.feedback-submit-button {
  padding: 12px 24px 11px 24px;
  margin-left: 300px;
}
.feedback-submit-button:hover,
.feedback-submit-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#f58569));
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.feedback-submit-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow:  inset 0px 2px 2px 0 #942718;
          box-shadow:  inset 0px 2px 2px 0 #942718;;
}
.modal-close {
  border: 0;
  cursor: pointer;

  position: absolute;
  top: 34px;
  left: 467px;
  width: 17px;
  height: 17px;
  background-image: url("../img/cross-big.svg");
  background-size: 17px 17px;
}


/*-------PAGINATION ------------------*/
.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pagination-list {

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 34px;
}

.pagination a {
  color: #ffffff;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}

.pagination-list li:first-child::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/icon-right-small.svg);

  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -35px;
  top: -4px;
}
.pagination-list li:last-child::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-right-small0.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: 160px;
  top: 3px;
  cursor: pointer;
}
.pagination a:hover,
.pagination a:focus {
background: rgba(255,255,255, 0.3);
color: #ffffff;
border-radius: 50%;
}

.pagination a:active,
.pagination .active > a {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}
.pagination-list li:nth-last-child(2) {
  padding-right: 17px;
}
.pagination-list li:first-child:hover::before,
.pagination-list li:first-child:focus-within::before,
.pagination-list li:first-child:focus::before,
.pagination-list li:last-child:hover::after,
.pagination-list li:last-child:focus-within::after,
.pagination-list li:last-child:focus::after {
  outline: inherit;
}

/*------------FILTERS ---------------------*/
.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter-sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

.filter-sorter select {
  /* Hide default arrow */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
/* Cosmetics for the select box */
  width: 194px;
  background: #a9bab0;
  color: #ffffff;
  font-size: 16px;
  text-transform: lowercase;
  position: relative; /*--to make ::after ---*/
  padding: 11px 53px 9px 12px;
  border-radius: 20px;
}
.filter-sorter::after:hover,
.filter-sorter::after:focus  {
  color: black;
}
/* [CUSTOM ARROW] */
.filter-sorter {
  overflow: hidden;
  position: relative;
}
.filter-sorter:after {
  /* [HTML symbol you want to use] */
  content: "\25bc";
  color: #ffffff;
  /* Positioning for the custom arrow */
  position: absolute;
  right: 10px;
  top: 35px;
  text-align: center;
  pointer-events: none;
}

/*-------------------RANGE Filter------------------*/
.filter-range-wrap {
  position: relative;
  width: 220px;
  height: 37px;
  border-radius: 20px;
  background: rgba(255,255,255, 0.3);
}

.range-bar {
  position: absolute;
  top: 19px;
  left: 23px;

  width: 176px;
  height: 4px;
  opacity: 0.5;
  background-color: #f8f7f4;
}
.range-thumb1,
.range-thumb2 {

  width: 4px;
  height: 4px;
  border-radius: 50px;
  border: solid 9px #ffffff;
}
.range-thumb1 {
  position: absolute;
  top: 10px;
  left: 35px;
}

.range-thumb2 {
  position: absolute;
  top: 10px;
  left: 133px;
}
/*-------------FILTER  Radio -----------------*/
/*----In html: <label class="labelclass"><input type="radio" class="visually-hidden"><span class="customized-indicator"></span>an option<label>;
---CSS selector for the hidden element: .labelclass input[type="radio"]
---CSS selector for the new element: .customized-indicator;
---flex container with justify-content: space around (absolutely positioned radiobuttons)---*/
.filters-form h3 {
  font-weight: 400;
}
.radio-filter-label,
.checkbox-filter-label,
.range-filter-label,
.filter-sorter label {
  margin: 0; /* для обнуления  марджинов у range-filter-label-----*/
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 5px;
  padding-left: 17px;
}
.filter-range {
  margin-right: 14px;
  margin-bottom: 17px;
}
.radio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 393px;
  border-radius: 20px;
  background: rgba(255,255,255, 0.3);
  color: #ffffff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 9px 1px 11px 21px;
}

.radio-choice1,
.radio-choice2,
.radio-choice3,
.radio-choice4 {
  position: relative;
  font-size: medium;
}
.radio-choice1 {
  margin-left: 24px;
  margin-right: 39px;
}
.radio-choice2 {
  margin-right: 33px;
}
.radio-choice3 {
  margin-right: 51px;
}

.radio-choice1 input[type="radio"] + .radio-indicator1,
.radio-choice2 input[type="radio"] + .radio-indicator2,
.radio-choice3 input[type="radio"] + .radio-indicator3,
.radio-choice4 input[type="radio"] + .radio-indicator4 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #ffffff;
  cursor: pointer;
}
.radio-choice1 input[type="radio"] + .radio-indicator1 {
  top: 0;
  right: 30px;
}
.radio-choice2 input[type="radio"] + .radio-indicator2 {
  top: 0;
  right: 62px;
}

.radio-choice3 input[type="radio"] + .radio-indicator3 {
  top: 0;
  right: 54px;
}
.radio-choice4 input[type="radio"] + .radio-indicator4 {
  top: 0;
  right: 99px;
}
.radio-choice1 input[type="radio"] {
  top: 2px;
  right: 33px;
  position: absolute;
}
.radio-choice1 input[type="radio"]:focus + .radio-indicator1,
.radio-choice2 input[type="radio"]:focus + .radio-indicator2,
.radio-choice3 input[type="radio"]:focus + .radio-indicator3,
.radio-choice4 input[type="radio"]:focus + .radio-indicator4 {
  border-color: #ffffff;
  outline: solid;
  outline: 5px auto -webkit-focus-ring-color;
}

.radio-choice1 input[type="radio"]:checked + .radio-indicator1::before,
.radio-choice1 input[type="radio"]:checked + .radio-indicator1::after,
.radio-choice2 input[type="radio"]:checked + .radio-indicator2::before,
.radio-choice2 input[type="radio"]:checked + .radio-indicator2::after,
.radio-choice3 input[type="radio"]:checked + .radio-indicator3::before,
.radio-choice3 input[type="radio"]:checked + .radio-indicator3::after,
.radio-choice4 input[type="radio"]:checked + .radio-indicator4::before,
.radio-choice4 input[type="radio"]:checked + .radio-indicator4::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 2px;
  left: 2px;
}
.radio-choice1 input[type="radio"]:disabled + .radio-indicator1,
.radio-choice2 input[type="radio"]:disabled + .radio-indicator2,
.radio-choice3 input[type="radio"]:disabled + .radio-indicator3,
.radio-choice4 input[type="radio"]:disabled + .radio-indicator4 {
  border: solid 3px #b5c4bc;
}
/*-------------FILTER Checkboxes-------------*/
.checkbox-filter label{
  text-transform: lowercase;
}

.checkbox-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 690px;
  border-radius: 20px;
  background: rgba(255,255,255, 0.3);
  color: #ffffff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 9px 1px 8px 12px;
  margin-bottom: 39px;
  margin-right: 13px;
}

.checkbox-option {
  position: relative;
  font-size: medium;
}
.checkbox-option input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
}
/*------ Положение нового чекбокса относительно лейбла, option1 -1ый элемент-- */
.option1 input[type="checkbox"] + .indicator1 {
  right: 98px;
  top: -3px;
}
.option2 input[type="checkbox"] + .indicator2 {
  right: 158px;
  top: -3px;
}
.option3 input[type="checkbox"] + .indicator3 {
  right: 67px;
  top: -3px;
}
.option4 input[type="checkbox"] + .indicator4 {
  right: 67px;
  top: -3px;
}
.option5 input[type="checkbox"] + .indicator5 {
  right: 69px;
  top: -3px;
}

.checkbox-indicator {
  position: absolute;
  width: 25px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
  cursor: pointer;
}
/*--- Over :hover the color is #ffffff, no opacity, but :checked has the same opacity as regular mode---*/

.checkbox-option input[type="checkbox"]:hover + .checkbox-indicator,
.checkbox-option input[type="checkbox"]:focus + .checkbox-indicator {
  /*width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");*/
  opacity: 1;
/*  background-repeat: no-repeat;*/
  cursor: pointer;
}
.checkbox-option input[type="checkbox"]:checked + .checkbox-indicator {
  width: 25px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.6;
  background-repeat: no-repeat;
  cursor: pointer;
}
.checkbox-option input[type="checkbox"]:checked:hover + .checkbox-indicator,
.checkbox-option input[type="checkbox"]:checked:focus + .checkbox-indicator {
  opacity: 1;
}
.checkbox-option input[type="checkbox"]:active + .checkbox-indicator {
  width: 25px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
  background-repeat: no-repeat;
  cursor: pointer;
}
.checkbox-option input[type="checkbox"]:disabled + .checkbox-indicator {
  width: 25px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
  background-repeat: no-repeat;
  cursor: pointer;
}
/*--------------FILTER Button----------------*/

.filters-form input[type=submit] {
width: 144px;
border: solid 2px #ffffff;
border-radius: 20px;
background: rgba(255,255,255, 0.3);
color: #ffffff;
margin-top: 22px;
margin-bottom: 38px; /*-чтоб кнопка не расползалась на всю высоту строки-*/
}
.filters-form input[type=submit]:hover,
.filters-form input[type=submit]:focus {
  background-color: #ffffff;
  color: #323232;
}
.filters-form input[type=submit]:active {
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #323232;
}
