body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;

  background-color: #849d8f;
/*---TEMPORARY?????------*/
  width: 1200px;
  /*--FOR OUTLINES ONLY----*/
/*  background-image: url("../img/OUTLINES background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 2500px;*/

}

/*=======STYLES==========*/
.button {
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;

 border: none;
 border-radius: 20px;
 background-image: linear-gradient(to top, #e74a35, #f26843);
 box-shadow: 0px 2px 2px 0 #ac1000;

 text-align: center;
 vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------- FONT-------------------*/
h1 {
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-size:35px;
}
.contact {
  font-size: 14px;
}

.bonus-text {
  font-size: 18px;
}


/* --------- NAVIGATION -------------*/
.site-menu,
.submenu,
.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenu {
  display: none;
}
.site-menu a,
.submenu a {
  line-height: 18px;
  color: #ffffff;
  padding: 9px 10px 10px 12px;
}

.site-menu > li > a:hover,
.site-menu > li > a:active {
  border-radius: 20px;
  padding: 9px 10px 10px 12px;
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  text-align: center;
}
.site-menu > li > a:active  {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
.active > a {
  padding: 9px 10px 10px 12px;
  border-radius: 20px;
  background-color: #d07058;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.submenu {
  width: 143px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.submenu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
}
.submenu li:first-child {
  font-weight: bold;
}
.submenu a:hover {
  background-color: #fbded7;
}
.submenu a:active {
  background-color: #f6b5a5;
}
.submenu li:first-child a:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.submenu li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-button {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: none;
  background-image: url(../img/loupe.svg);
  background-color: #a0b5a9;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.login-button {
  width: 93px;
  border-radius: 20px;
  border: none;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: #9db1a5;
  padding: 10px 17px 10px 44px;
}
.login-button:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.contact-telephone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}
.cart {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.cart-full {
  color: #323232;
}

/*-----------BONUS section--------------*/
.bonus-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bonus-raspberry {
  background-image: url("../img/raspberry.jpg");
}
.bonus-chockolate {
  background-image: url("../img/chockolate.jpg");
}
.bonus-raspberry,
.bonus-chockolate {
  background-repeat: no-repeat;
  border-radius: 10px;
}
.bonus-button {
  padding: 11px 20px 11px 20px;
}
.bonus-button:hover {
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.bonus-button:active {
  background-image: linear-gradient(to top, #f26843, #e74a35);
  box-shadow:  inset 0px 2px 2px 0 #942718;;
}
/*-----------GOODS section--------------*/
.bestsellers-list,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 1180px;
}

.bestseller-item,
.catalog-item {
  width: 293px;
  height: 405px;
}
.bestseller-item:hover,
.catalog-item:hover {
  width: 293px;
  height: 405px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #9bafa3;
  border-radius: 10px;
}
.bestseller-text,
.catalog-text {
  color: #ffffff;
}
.bestseller-price,
.catalog-price {
  font-size: 45px;
}
/*---------------FEATURES-----------------*/
.about-company {
  background-image: url("../img/waffer-background.jpg");
  border-radius: 10px;
}

.about-glaccy {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  padding: 29px 112px 5px 20px;
}

.about-glaccy,
.features-text {
  color: #323232;
}
.features,
.features-column {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*---------------NEWS-----------------*/
.news {
  background-image: url("../img/Strawberry_background.jpg");
}
.news-title {
  font-size: 16px;
  line-height: 22px;
}
.news-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.news-title,
.news-item {
  color: #323232;
}

/*---------------Subscribe-----------------*/
.subscribe {
  background-color: #f8f7f4;
}
.subscribe-text {
  color: #5a5a5a;
}
.submit-subscribe-button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 18px 10px 18px;
}
/*-----------------Footer-----------------*/
.social-list,
.documents-column {
  list-style: none;
  margin: 0;
  padding: 0;
}
.documents-column a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}
.copyright-text {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}
/*----------------CATALOGUE ------------------*/
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
  color: #ffffff;
}

/*-------------MODAL popouts--------------------*/
.login-submit-button {
  padding: 11px 25px 10px 25px;
}
.submit-cart-button {
  padding: 11px 13px 11px 14px;
}

/*=======temporary OUTLINES & SIZES=========*/
.container {
  margin-left: 20px;
  margin-right: 20px;
}
.nav-menu {
  /*-- temporary!!--*/
  min-height: 61px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}
.contact {
  display: block;
  min-height: 55px;
}
.logo {
  width: 154px;
  height: 62px;
}

.site-menu {
  width: 60%;
  padding: 30px 20px 20px 15px;
  display: flex;
}
.site-menu li {
  padding-right: 20px;
}
.user-menu {
  width: 40%;
  display: flex;
  padding: 30px 0px 20px 9px;
  justify-content: flex-end;
}
.user-menu li {
  padding-left: 9px;
}
.user-menu li:last-child {
  margin-top: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.slider {
  min-height: 600px;
}
.bonus-list {
  display: flex;
  min-height: 230px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.bonus-raspberry,
.bonus-chockolate  {
  min-height: 230px;
  min-width: 560px;
  margin-right: 26px;
}
.bestsellers-list,
.catalog-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.catalog-list {
  flex-wrap: wrap;
}

.bestseller-item {
  margin-right: 26px;
}

.features {
  display: flex;
  justify-content: space-between;
}
.features-column {
  flex-direction: column;
  padding: 5px 25px 15px 15px;
}
.features-item {
  display: flex;
}
.features-text {
  padding-left: 5px;
}

.about-company {
  width: 1200px;
  margin-bottom: 40px;
}
.marketing {
  width: 1200px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.news,
.subscribe {
  min-height: 230px;
  min-width: 560px;
  display: flex;
  flex-direction: column;
}
.subscribe {
  margin-left: 26px;
}
.subscribe-text {
  margin: 0;
  padding: 33px 22px 40px 21px;
}
.subscribe-email {
  padding-left: 20px;
}
.subscribe-email-input {
  width: 368px;
  height: 44px;
}
.news-title {
  margin: 0;
  padding-left: 20px;
  padding-top: 26px;
  padding-bottom: 15px;
}
.news-item {
  width: 290px;
  padding-left: 20px;
}
.map{
  margin-bottom: 15px;
}

.footer-container {
  width: 1200px;
  display: flex;
}
.social {
  width: 420px;
}
.social-list {
  display: flex;
  padding-top: 15px;
}
/*---- alternative for links
.twitter {
  background-image: url("../img/twitter.svg");
}
.instagram {
  background-image: url("../img/instagram.svg");
}
.facebook {
  background-image: url("img/fb.svg");
}
.vkontakte {
  background-image: url("../img/vk.svg");
}
  background-repeat: no-repeat;
*/
.social-item {
  padding-right: 17px;
}
.documents {
  width: 550px;
}
.documents-list {
  display: flex;
  width: 550px;
  padding-top: 17px;
}
.documents-column {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  display: flex;
}
.breadcrumbs li {
  padding-right: 20px;
}
