body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #849d8f;
}
.site-wrapper {
  min-width: 1250px;
  background-color: #849d8f;
  background-image: url("../img/Slider-icecream_1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*=======STYLES==========*/
.button {
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;

 border: none;
 border-radius: 20px;
 background-image: linear-gradient(to top, #e74a35, #f26843);
 box-shadow: 0px 2px 2px 0 #ac1000;

 text-align: center;
 vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*----------- FONT-------------------*/
h1 {
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-size:35px;
}
.contact {
  font-size: 14px;
}




/* --------- NAVIGATION -------------*/
.nav-container {
  width: 1160px;
  padding: 10px 20px 0 20px;
}
.nav-menu {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}
.logo {
  width: 154px;
  height: 62px;
}
.site-menu,
.submenu,
.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-menu {
  width: 60%;
  padding: 30px 20px 20px 15px;
  display: flex;
  flex-wrap: wrap;
}
.site-menu > li {
  padding-right: 20px;
}
.user-menu {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px 20px 9px;
  justify-content: flex-end;
}

.user-menu li {
  padding-left: 9px;
}
.site-menu > li {
  position: relative;
}
.submenu {
  display: none;
  position: absolute;
  top: 35px;
  width: 143px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}
.site-menu a,
.submenu a {
  line-height: 18px;
  color: #ffffff;
  padding: 9px 10px 10px 12px;
}
.submenu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
}

.submenu li:first-child {
  font-weight: bold;
}
.submenu a:hover {
  background-color: #fbded7;
}
.submenu a:active {
  background-color: #f6b5a5;
}
.submenu li:first-child a:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.submenu li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.site-menu > li:hover .submenu {
  display: block;
}
.site-menu > li > a:hover,
.site-menu > li > a:active {
  border-radius: 20px;
  width: 143px;
  padding: 9px 10px 10px 12px;
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  text-align: center;
}
.site-menu > li > a:active  {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
.active > a {
  padding: 9px 10px 10px 12px;
  border-radius: 20px;
  background-color: #d07058;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.search-button {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: none;
  background:rgba(255,255,255, 0.3);
}
.search-button:hover {
  background-color: #f8f7f4;
}
.search-button:hover path {
  fill: #323232;
}

.login-button {
  display:flex;
  width: 93px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: rgba(255,255,255, 0.3);

  padding: 10px 17px 10px 44px;
  text-align: left;
}
.login-text {
  position: relative;
}
.login-text::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 20px;
  background-image: url("../img/login_icon.png");
  background-repeat: no-repeat;
  left: -25px;
  top: -2px;
}
.login-button:hover {
  background-color: #f8f7f4;
}
.login-text:hover {
  filter: invert(1);
}
/*problem with :hover: the black text doesn't syncronize with the white background of the button, if cursor is not exactly on the text, the whole button is white. Wierd*/
.cart {
  display: block;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  background:rgba(255,255,255, 0.3);
  padding: 10px 17px 10px 45px;
}

.cart-text,
.cart-text_empty {
  position: relative;
}
.cart-text_empty::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  left: -21px;
  background-image: url("../img/basket.svg");
  background-size: 17px 17px;
}
.cart-text::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  left: -21px;
  background-image: url("../img/basket-red.svg");
  background-size: 17px 17px;
}
.contact {
  display: block;
  min-height: 55px;
}
.contact-telephone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/*-----------SLIDER --------------------*/
.slider {
  position: relative;
  min-height: 210px;
  margin-bottom: 41px;
  padding-top: 237px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
/*.slider-text {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}*/
.slide-button {
  padding: 17px 43px 16px 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

  border-radius: 44px;
  border: none;

  cursor: pointer;
}
.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/Slider-icecream_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/Slider-icecream_2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/Slider-icecream_3.png")
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*-----------BONUS section--------------*/
.bonus-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bonus-list h3 {
  margin: 0;
  margin-bottom: 20px;
}
.bonus-text {
  font-size: 18px;
  margin-bottom: 45px;
}
.bonus-raspberry {
  background-image: url("../img/raspberry.jpg");
}
.bonus-chockolate {
  background-image: url("../img/chockolate.jpg");
}
.bonus-raspberry,
.bonus-chockolate {
  width: 560px;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 19px;
  margin-right: 26px; /* Хотела задать расстояние между колонками при помощий justify-content, но не получается, уточнить, чем чреват такой вариант*/
}
.bonus-button {
  padding: 11px 20px 11px 20px;
  float: right;
}
.bonus-button:hover {
  background-image: linear-gradient(to top, #f58569, #f58569);
}
.bonus-button:active {
  background-image: linear-gradient(to top, #f26843, #e74a35);
  box-shadow:  inset 0px 2px 2px 0 #942718;;
}
/*-----------GOODS section--------------*/
.catalog-container {
  width: 1160px;
  padding: 0 20px;
}
.bestsellers-list,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*min-width: 1180px;*/ /*why did i need it???*/
}

.bestseller-item,
.catalog-item {
  width: 280px;
  height: 405px;
}
.bestseller-item:hover,
.catalog-item:hover {
  width: 280px;
  height: 405px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  /*background-color: #9bafa3;*/ /*background-color is supposed to change matching the slide color, so I'm making it with opacity*/
  border-radius: 10px;
  background:rgba(255,255,255, 0.3);
}
.bestseller-text,
.catalog-text {
  color: #ffffff;
}
.item-price-number,
.catalog-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.bestsellers-list,
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item-card {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.bestseller-card li:first-child::before {
  content: "";
  height: 67px;
  width: 67px;
  position: absolute;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
}
.item-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 18px;
}
.item-image-mask {
  height: 267px;
  width: 267px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.item-price-slash {
  font-size: 34px;
}
.item-price-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.item-text {
  display: block;
  line-height: 22px;
  max-width: 260px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.item-price {
  position: absolute;
  top: 210px;
}
.item-card-button {
  padding: 12px 15px 12px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 42px;

  display: none;
}
.bestseller-item:hover .item-card-button,
.catalog-item:hover .item-card-button {
  display: block;
}

/*---------------FEATURES-----------------*/
.features-container {
  width: 1112px; /* 1152px of the container width minus paddings that add 50px to the total width*/
  background-image: url("../img/waffer-background.jpg");
  border-radius: 10px;
  padding: 29px 30px 26px 20px;
  margin-bottom: 40px;
}

.about-glaccy {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 25px;
}

.features-container,
.features-text {
  color: #323232;
}
.features-text {
  line-height: 1.4;
}
.features {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  display: block;
  width: 550px;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-text_icecream,
.features-text_eco,
.features-text_cow,
.features-text_thermo {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 55px;
  margin-bottom: 25px;
  padding-right: 30px;
}
.features-text_icecream::before,
.features-text_eco::before,
.features-text_cow::before,
.features-text_thermo::before {
  content: "";
  position: absolute;
  left: -56px;
  top: -11px;
  width: 49px;
  height: 49px;
}
.features-text_icecream::before {
  background-image: url("../img/ice-cream.svg");
}
.features-text_eco::before  {
  background-image: url("../img/eco.svg");
}
.features-text_cow::before {
  background-image: url("../img/cow.svg");
}
.features-text_thermo::before {
  background-image: url("../img/thermometer.svg");
}
/*---------------NEWS-----------------*/
.news {
  border-radius: 20px;
  background-image: url("../img/Strawberry_background.jpg");
  background-position-y: 38%;
  background-position-x: 17%;

}
.news-title {
  font-size: 16px;
  line-height: 22px;
}
.news-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.news-title,
.news-item {
  color: #323232;
}

/*---------------Subscribe-----------------*/
.marketing-container {
  /*width: 1152px;*/
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.news {
/* NOOOOOO height for blocks with text*/
  width: 520px;
}
/*NB!!! add paddinds to width for the actual sizes*/
.news {
  padding: 26px 20px 10px 20px;
}
.news-title {
  margin: 0;
}
.news-item {
  display: block;
  width: 290px;
  margin-bottom: 70px;
}

.subscribe-wrapper {
  min-height: 220px;
  width: 560px;

  position: relative;
  background-image: url("../img/subscribe-background.png");
  background-repeat: no-repeat;
}
.subscribe {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 507px;
  background-color: #f8f7f4;
  border-radius: 20px;
  padding: 33px 22px 29px 20px;
}
.subscribe-text {
  color: #5a5a5a;
}
.subscribe-email-input {
  margin-right: 11px;
}
.submit-subscribe-button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 18px 10px 18px;
}

.subscribe-text {
  margin: 0;
}
.subscribe-email {
}
.subscribe-email-input {
  width: 354px;
  height: 44px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 1.5;
}
/*-----------------Footer-----------------*/
.footer-container {
  width: 1154px;
  padding: 18px 22px 25px 24px;
  display: flex;
  justify-content: space-between;
}
.social-list,
.documents-column {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icon {
  opacity: 0.8;
  border: solid 3px #c2cec7;
  border-radius: 50%;
}
.social-icon:hover {
  opacity: 1;
  border: solid 3px #c8d4cd;
}
.social-icon:active {
  opacity: 0.6;
  border: solid 3px #dae2de;
}
.documents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.documents-list li {
  height: min-content;
}
.documents-list a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  display: block;
}
.documents-suppliers {
  position: relative;
  font-weight: bold;
  padding-right: 30px;
}
.documents-production {
  padding-right: 41px;
}
.documents-main,
.documents-eco {
  padding-right: 20px;
}
.documents-suppliers::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
}
.copyright-text {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
.documents-column a:hover,
.documents-column a:active,
.copyright-text:hover {
  color: #ffbc9e;
}
.copyright-text {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}
/*----------------CATALOGUE ------------------*/
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
  color: #ffffff;
}

/*-------------MODAL popouts--------------------*/
.login-submit-button {
  padding: 11px 25px 10px 25px;
}
.submit-cart-button {
  padding: 11px 13px 11px 14px;
}

/*=======temporary OUTLINES & SIZES=========*/

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.map{
  margin-bottom: 15px;
}


.social {
  width: 420px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
/*---- alternative for links
.twitter {
  background-image: url("../img/twitter.svg");
}
.instagram {
  background-image: url("../img/instagram.svg");
}
.facebook {
  background-image: url("img/fb.svg");
}
.vkontakte {
  background-image: url("../img/vk.svg");
}
  background-repeat: no-repeat;
*/
.social-item {
  padding-right: 17px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  display: flex;
}
.breadcrumbs li {
  padding-right: 20px;
}
/*---------MODAL Elements--------------*/
.modal-address {
  background-color: #fefdfc;
  color: #323232;
  width: 252px;
  border-radius: 10px;
  padding: 30px 25px 30px 25px;
  border: solid 1px black; /*temporary*/
}
.modal-address span {
  display: block;
}
.modal-text {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  max-width: 158px;
}
.modal-address b {
  font-size: 18px;
  line-height: 24px;
  display: block;
}
.modal-address-location {
  margin-bottom: 20px;
}
.modal-telephone-order {
  margin-bottom: 12px;
}
.modal-telephone {
  margin-bottom: 10px;
}
.modal-address-open {
  margin-bottom: 26px;
}
.modal-address-button {
  padding: 6px 28px 11px 28px;
  color: #fefefe;
}

/*----------------MODAL login--------------------------*/
.modal-login {
  position: relative;
  width: 277px;
  background-color: #f8f7f3;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 17px 22px 19px;
  border-radius: 10px;
}
.modal-login-email,
.modal-login-password {
  width: 241px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}
.modal-login-forgot {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  margin-left: 150px;
  display: block;
}

.login-submit-button {
  position: absolute;
  bottom: 22px;
}
/*------------MODAL feedback ----------------*/
.modal-feedback {
  width: 479px;
  background-color: #f8f7f3;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 18px 25px 23px 23px;
}
.modal-feedback h2 {
  display: block;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-feedback-name,
.modal-feedback-email,
.modal-feedback textarea {
  width: 266px;
  color: #999999;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  margin-bottom: 20px;
}
.modal-feedback textarea {
margin-bottom: 23px;
}
